{% extends 'vendedor/vendedorBase.html' %}
{% block body %}

{% block customCSS %}
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendedorResumenVentas.css') }}">
<body>
  <div class="dashboard">
    <h1>Resumen de Ventas</h1>

    <div class="cards">
      <div class="card">
        <h3>Ventas Totales</h3>
        <p>$ 195.000</p>
      </div>
      <div class="card">
        <h3>Pedidos Completados</h3>
        <p>32</p>
      </div>
      <div class="card">
        <h3>Producto más vendido</h3>
        <p>Tomate</p>
      </div>
    </div>

    <h2 >Ventas Recientes</h2>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2025-04-18</td>
          <td>Laura Castañeda</td>
          <td>Tomate</td>
          <td>5 kg</td>
          <td>$15.000</td>
        </tr>
        <tr>
          <td>2025-04-17</td>
          <td>Carlos Ruiz</td>
          <td>Lechuga</td>
          <td>3 kg</td>
          <td>$9.000</td>
        </tr>
        <tr>
          <td>2025-04-17</td>
          <td>María Fernanda</td>
          <td>Zanahoria</td>
          <td>4 kg</td>
          <td>$12.000</td>
        </tr>
      </tbody>
    </table>
    <a href="/VENDEDOR" class="btn btn-secondary btn-lg">Atrás</a>
  </div>
  
</body>
{% endblock %}