/* compradorCarrito.css */

/* Estilo personalizado para el botón Ir a pagar */
.btn-pagar {
  background-color: #5E0B15 !important;
  border: none !important;
  color: #ffffff !important;
}

.btn-pagar:hover {
  background-color: #490811 !important; /* un tono más oscuro para hover */
}
  